$primary-color: rgb(184, 51, 106);
$secondary-color: rgb(196, 144, 209);
$teritary-color: rgb(172, 172, 222);
$accent-color: rgb(171, 218, 252);
$font-color: rgb(229, 252, 255);



$body-font: 'Montserrat', 'sans-serif';
$heading-font: 'Cormorant Garamond', 'sans-serif';

// @mixin onHover {
// cursor: pointer;
// box-shadow: 0 0.4rem solid rgba(86,185,235, 0.5);
// transform: translateY(-0.1rem);
// transition: transform 150ms;
    
// }